<p id="notice"><%= notice %></p>

<% Restaurant.all.each do |restaurant| %>
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Pratos</h1>
       <h2>Restaurante <%= restaurant.name %></h2>
        <p>Endereço: <%= restaurant.address %></p>
		<p>Telefone: <%= restaurant.phone %></p>
    </div>
 </div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
		<% restaurant.dishes.order(:description).each do |dish| %>
		      <div class="col-md-4">
		        <h2><%= dish.description %></h2>
		        <p>Preço: R$<%= dish.price %> </p>
		        <p>Tempo de Preparo: <%= dish.preparationtime %> minutos</p>
		        <p>Ingredientes: <%= dish.ingredients.order(:description).map(&:description).join(', ') %></p>
		        <small>Data: <%= dish.created_at %> </small>
		      </div>
		<% end %>
	</div>
<hr>
</div> <!-- /container -->
<% end %>


