<div class="center">
<p id="notice"><%= notice %></p>

<h1>Dishes</h1>

<table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">Descrição</th>
        <th scope="col">Preço</th>
        <th scope="col">Tempo de Produção</th>
        <th scope="col">Ingredientes</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.description %></td>
        <td><%= dish.price %></td>
        <td><%= dish.preparationtime %></td>
        <td><%= dish.ingredients.map(&:description).join(', ') %></td>
        
        <td>
        <div class="btn-group">
              <%= link_to 'Mostrar', dish, :class => "btn btn-info" %></button>
              <%= link_to 'Editar', edit_dish_path(dish), :class => "btn btn-warning" %>
              <%= link_to 'Excluir', dish, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dish', new_dish_path, :class => "btn btn-success" %>
</div>