<div class="center">
<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone %></td>
        <td>
        <div class="btn-group">
              <%= link_to 'Mostrar', restaurant, :class => "btn btn-info" %></button>
              <%= link_to 'Editar', edit_restaurant_path(restaurant), :class => "btn btn-warning" %>
              <%= link_to 'Excluir', restaurant, :class => "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></button>
              </div>
              </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path, :class => "btn btn-success" %>
</div>